img {
  max-width: 100%;
  height: auto;
  display : block
}

.carousel_wrapper {
  display: flex;
  overflow-x: scroll;
  position: relative;
  overflow: hidden;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.carouselcontrols {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center; 
  margin: 16px 0;
}

.carouselbutton {
   width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.carouselbutton--prev {
transform: rotate(180deg); 
}

.carouselcontainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  margin-left: -24px;
  margin-right: -24px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; 
}

.carouselitem {
  flex: 0 0 260px;
  scroll-snap-align: center; 
  box-sizing: border-box;
}

.carouselitem img {
  border-radius: 12px
   display: block; 
}

